body {
	font: 10px sans-serif;
	background-image: url("../images/light_wool.png");
	font-family: 'Lato', sans-serif;
}
.row {
	background-color: #fff;
	opacity: .9;
}
#header {
	height:100px;
	padding-left:-100px;
	background-color: rgb(50,50,50);
}
#logo {
	margin-top: 25px;
}
#chart {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
form {
	font-size: 14px;
}
.link{
	color: #ECF0EF;
	text-decoration: underline;
	margin: 40px;
	font-size: 16px;
	float: right;
}
#footerBar {
	margin-top: 20px;
}
#footer p {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg .area {
	opacity: .5;
	fill:#3498DB;
}
.areaup {
	opacity: .5;
	fill:#27ae60;
}
.areadown {
	opacity: .5;
	fill:#c0392b;
}
.line {
	stroke-width:2px;
}
#priceLine {
	opacity: .5;
	fill:#3498DB;
}

#upsideLine {
	opacity: 1;
	fill: #27ae60;
}
#downsideLine {
	opacity: 1;
	fill: #c0392b;
}
.sparkLine{
	fill: none;
	stroke: #3498DB;
	margin-left: 20px;
}
.gr {
	text-align: center;
}
#submitButton {
	background: url("../images/button.png");
	width: 153px;
	height: 45px;
	border: none;
	color: #ecf0f1;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
}
.field {
	float: right;
	margin-right: 25px;
	border: 0;
	font-size: 16px;
	text-align: right;
	width: 50px;
}
.ticker {
	margin: 10px;
	float: left;
}
.companyName {
	margin: 10px;
	float: right;
}
.dot {
  stroke: #000;
  fill: url(#temperature-gradient);
}
.slider {
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.label {
	color: rgb(0,0,0);
	stroke:none;
	fill:rgb(0,0,0);
	font-size: 11px;
}
#priceTargetLabel {
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}